    <table border="1" bgcolor=WHITE cellpadding="2" cellspacing="2" width="50%">
      <tbody>
	<tr align="center">
	  <td valign="top"><i><font face="Arial">
	  	<h3><i>Host:&nbsp;</i>HOST</h3>
	  	</font>
	  </td>
	</tr>
	<tr align="left">
	  <td valign="top"><i><font face="Arial">System Time:</font></i><font
	      face="Arial">&nbsp; AAA</font><br>
	  </td>
	</tr>
	<tr>
	  <td valign="top"><i><font face="Arial">Uptime:&nbsp;&nbsp;&nbsp;
	      </font></i><font face="Arial">BBB</font><i><font
		face="Arial"><br>
	      </font></i> </td>
	</tr>
	<tr>
	  <td valign="top"><i><font face="Arial">Number of Users:
	      </font></i><font face="Arial">CCC</font><i><font
		face="Arial"><br>
	      </font></i> </td>
	</tr>
	<tr>
	  <td valign="top"><i><font face="Arial">Free Memory: </font></i><font
	      face="Arial">DDD</font><br>
	  </td>
	</tr>
	<tr>
	  <td valign="top"><i><font face="Arial">CPU Temp: </font></i><font
	      face="Arial">GGG</font><i><font face="Arial"><br>
	      </font></i> </td>
	</tr>
	<tr>
	  <td valign="top"><i><font face="Arial">IP Number: </font></i><font
	      face="Arial">HHH</font><i><font face="Arial"><br>
	      </font></i> </td>
	</tr>
	<tr>
	  <td valign="top"><i><font face="Arial">External URL: </font></i><font
	      face="Arial">III</font><i><font face="Arial"><br>
	      </font></i> </td>
	</tr>
	<tr>
	  <td valign="top"><i><font face="Arial">RasPiConnect Server Version: </font></i><font
	      face="Arial">JJJ</font><i><font face="Arial"><br>
	      </font></i> </td>
	</tr>
	<tr>
	  <td valign="top"><i><font face="Arial">Last Text Sent From RasPiConnect: </font></i><font
	      face="Arial">KKK</font><i><font face="Arial"><br>
	      </font></i> </td>
	</tr>
      </tbody>
    </table>